{{define "cms/generate_sql.html"}}
{{ template "header" . }}
<style>
    .custom-radio{
        width: 18px;
        height: 18px;
    }
    @media screen and (max-width: 768px) {
        .code-text {
            width: 100%;
            height: 400px;
        }
    }
    @media screen and (min-width: 768px) {
        .code-text {
            width: 80%;
            height: 400px;
        }
    }
</style>

<body class="gray-bg">
    <div class="wrapper wrapper-content">
        <div class="ibox-title">
            权限管理 / <a href="/tables">数据表列表</a> / <a onclick="window.location.reload()">model生成器</a>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">数据库名：</label>
                                <div class="col-sm-3">
                                    <select class="form-control m-b db_name" aria-label="">
                                        <option value="">--请选择数据库名--</option>
                                        {{ range .db }}
                                            <option value="{{ .name }}" {{ if eq $.searchName .name }} selected {{ end }}>{{ .name }}</option>
                                        {{end}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">数据表名：</label>
                                <div class="col-sm-3">
                                    <select class="form-control m-b" name="table_name" aria-label="">
                                        <option value="">--请选择数据表名--</option>
                                        {{ range .lists }}
                                            <option value="{{ .name }}">{{ .name }}</option>
                                        {{end}}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">是否读写分离：</label>
                                <div class="col-sm-3 radio i-checks" style="padding-left: 15px">
                                    <label><input type="radio" value="1" name="is_read_table" class="custom-radio"> <i></i>是</label>
                                    <label style="margin-left: 15px"><input type="radio" checked value="2" name="is_read_table" class="custom-radio"><i></i>否</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">是否分库：</label>
                                <div class="col-sm-3 radio i-checks" style="padding-left: 15px">
                                    <label><input type="radio" value="1" name="is_split_table" class="custom-radio"> <i></i>是</label>
                                    <label style="margin-left: 15px"><input type="radio" checked value="2" name="is_split_table" class="custom-radio"><i></i>否</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">分库是否取余：</label>
                                <div class="col-sm-3 radio i-checks" style="padding-left: 15px">
                                    <label><input type="radio" value="1" name="is_divide" class="custom-radio"> <i></i>是</label>
                                    <label style="margin-left: 15px"><input type="radio" checked value="2" name="is_divide" class="custom-radio"><i></i>否</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-3">
                                    <button class="btn btn-sm btn-primary" onclick="generate()">生成</button>
                                    <a href="/tables" class="btn btn-sm btn-white">取消</a>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">代码：</label>
                                <div class="col-sm-10 code">
                                    <textarea class="code-text" name="code" aria-label=""></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{{ template "footer" . }}
<script>
    $('.db_name').on('change', function () {
        window.location.href = "/generatepage?searchName=" + $(this).val();
    });

    function generate() {
        var db = $('.db_name option:selected').val();
        var table = $("select[name='table_name']").val();
        var split = $("input[name='is_split_table']:checked").val();
        var divide = $("input[name='is_divide']:checked").val();
        var read = $("input[name='is_read_table']:checked").val();
        $.post("/tables/generate", {db: db, table: table, split:split,divide:divide,read:read}, function (res) {
            var jsonData = $.parseJSON(res);
            if(jsonData.status !== 200 && jsonData.status !== 20023){
                layer.msg(jsonData.message, {icon: 2, time: 1800, title: "提示"});
            } else if(jsonData.status === 20023) {
                window.location.href = "/nopermission";
            } else {
                $("textarea[name='code']").val(jsonData.data);
            }
        })
    }

</script>
{{end}}